@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.container {
    width: 1231px;
    height: auto;
    margin-left: 50px;
}

.site-nav {
    margin: 0;
    background-color: #333;
    align-items: center;
    display: flex;
    padding: 15px;
    border: 2px solid #fff;
    padding-left: 450px;
    margin-top: 30px;
    box-shadow: 10px 5px 5px red;
}

.site-nav__item {
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 40px;
}

.site-nav__item:hover {
    opacity: 0.8;
    box-shadow: 10px 5px 5px red;
}

.site-nav__item:active {
    opacity: 0.6;
}

.site-nav__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 22px;
}

.main {
    margin-top: 70px;
}

.list-project {
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.home-img {
    background-color: #fff;
}

.box-project {
    width: 250px;
    height: 200px;
    background-color: #333;
    border: 2px solid #fff;
    margin: 20px;
    box-shadow: 10px 5px 5px red;
}

.title-main {
    width: 530px;
    padding-left: 30%;
}

.heading {
    color: #fff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
}

.about {
    width: 1231px;
    height: 500px;

}

.about-heading {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 40px;
}

.about-text {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    text-align: center;
}

.about-img {
    margin-left: 370px;
}

.footer {
    background-color: #333;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;

}

.footer-img__youtube, .footer-img__guthub, .footer-img__linkedin {
    width: 50px;
    height: 50px;
}

.list-footer {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    padding-left: 40%;
}

.item-link {
    margin: 10px;
    padding-top: 10px;
}

.heading-footer {
    padding-top: 20px;
    padding-left: 38%;
    color: rgb(6, 5, 5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}



.box-github {
    margin-left: 37%;
    margin-top: 20px;
    background-color: #333;
    width: 250px;
    padding: 10px;
    border: 1px solid #fff;
    padding-left: 30px;
    box-shadow: 10px 5px 5px red;
}

.box-github:hover {
    opacity: 0.8;
}

.box-github:active {
    opacity: 0.6;
}

.home-link {
    text-decoration: none;
    color: #fff;

}