@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&family=Roboto&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #EAEAEA;
}

.container {
    width: 1231px;
    height: auto;
    margin-left: 50px;
}

.site-nav {
    margin: 0;
    background-color: #FFFFFF;
    align-items: center;
    display: flex;
    padding: 15px;
    border: 2px solid #fff;
    padding-left: 450px;
    margin-top: 30px;
    box-shadow: 10px 5px 5px #333;
}

.site-nav__item {
    list-style: none;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.site-nav__item:hover {
    opacity: 0.8;

}

.site-nav__item:active {
    opacity: 0.6;
}

.site-nav__link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 22px;
}

.main {
    margin-top: 70px;
}

.list-project {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.home-img {
    background-color: #fff;
}

.box-project {
    width: 250px;
    height: 200px;
    background-color: #FFFFFF;
    margin: 20px;
    box-shadow: 10px 5px 5px #333;
}

.title-main {
    width: 530px;
    padding-left: 30%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.heading {
    color: #333;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
}


.about-content {
    width: 900px;
    text-align: center;
    margin-left: 200px;
    margin-bottom: 100px;
}

.about-heading {
    font-size: 32px;
    font-weight: 400px;
    font-family: sans-serif;
}

.about-desc {
    font-size: 18px;
    font-family:  sans-serif;
}

.box-project:hover {
    opacity: 0.9;
    transform: translateY(-20px);
}